html, body {
    margin: 0;
    height: 100%;
}

body {
    transition: background-color 1s
}

#compteur {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 1s
}
